<html>
    <head>
        <title>Results</title>
    </head>
    <body>
        <h1> Here is your day: {{ date }} </h1>
        <a href='/'><button type='button' class='btn btn-danger' id='return'>Check another date!</button></a>

    </body>
</html>
