<html>
    <head>
        <title>Enter your date</title>
    </head>
        <form action="/calendar_results">
            <label for="date"> Enter your date to look up: </label>
            <input type="date" name="date" id="date">
            <button type="submit">submit</button>
        </form>
    <body>

    </body>
</html>
