<html>
    <head>
        <title>Enter your date</title>
    </head>
        <form action="/calendar_results">
            <label for="date"> Enter your date as YYYY-MM-DD: </label>
            <input type="text" name="date" id="date">

            <button type="submit">submit</button>
            
        </form>
    <body>

    </body>
</html>
