<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/styles.css' type='text/css'>
        <title>Results</title>
    </head>
    <body>
        <div class='container'>
            <h1> Your birthday is on a {{ date }}!</h1>
            <a href='/'><button type='button' class='button' id='return'><span class='try_again'>Try again!</span></button></a>
        </div>
    </body>
</html>
